.sponsors {
  background: rgb(241, 196, 15);
  color: #1b1917;
}


.sponsors .section-title {
  margin-bottom: 50px;
}

.sponsor-category {
  margin-bottom: 20px;
}

.sponsor-category h3 {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #f3f3f3;
  padding: 15px;
  border-bottom: 2px solid;
}

.sponsor-category img {
  max-width: 35%;
}

.sponsor-category.diamond h3 {
  border-color: #b9f2ff;
}

.sponsor-category.gold h3 {
  border-color: #d4af37;
}

.sponsor-category.silver h3 {
  border-color: #c0c0c0;
}

.sponsor-category.bronze h3 {
  border-color: #cd7f32;
}

.brands__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  min-height: 200px;
}

@media (min-width: 600px) {
  .sponsor-category img {
    max-width: 25%;
  }
}

@media (min-width: 980px) {
  .sponsor-category.diamond img {
    max-width: 18%;
  }

  .sponsor-category.gold img {
    max-width: 15%;
  }

  .sponsor-category.silver img {
    max-width: 12%;
  }

  .sponsor-category.bronze img {
    max-width: 10%;
  }
}
